html {
  background-color: #0c0c0c;
  color: #fff;
}

.gradient {
  background: linear-gradient(
    300deg,
    rgba(45, 102, 248, 0.4) 0%,
    rgba(27, 60, 146, 0) 100%
  );

  background-size: 900% 100%;
  border-radius: 25%;
}
.howItWorks-info {
  text-align: left;
}
.blueWord {
  color: rgba(45, 102, 248, 1);
}
